<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
     <head>
         <div th:replace="~{fragment :: meta}"></div>
 
         <div th:replace="~{fragment :: styles}"></div>
         
         <title>会員情報編集</title>
     </head>
     
     <body>
		 <div class="nagoyameshi-wrapper">
			 <div th:replace="~{fragment :: header}"></div>
             
		 	 <main>
				 <div class="container pt-4 pb-5 nagoyameshi-container">
					<div class="row justify-content-center">
						 <div class="col-xl-4 col-lg-5 col-md-8 col-sm-8">
							 <nav class="mb-4" style="--bs-breadcrumb-driver: '>';" aria-label="breadcrumb">
								 <ol class="breadcrumb mb-0">
									 <li class="breadcrumb-item"><a th:href="@{/user}">マイページ</a></li>
									 <li class="breadcrumb-item"><a th:href="@{/user/info}">会員情報</a></li>
									 <li class="breadcrumb-item active" aria-current="page">編集</li>
								 </ol>
							 </nav>
							 
							 <h1 class="mb-4 text-center">会員情報編集</h1>
							 
							 <form method="post" th:action="@{/user/update}" th:object="${userEditForm}">
								 <!-- 氏名 -->
								 <div class="form-group row mb-3">
								 	 <div class="col-md-4">
								 		 <label for="name" class="col-form-label text-md-left fw-bold">氏名</label>
								 	 </div>
								 	 <div class="col-md-8">
										 <div th:if="${#fields.hasErrors('name')}" class="text-danger small mb-2" th:errors="*{name}"></div>
                                         <input type="text" class="form-control" th:field="*{name}" autofocus>
									 </div>
								 </div>
								 
								 <!-- フリガナ -->
								 <div class="form-group row mb-3">
								 	 <div class="col-md-4">
								 		 <label for="furigana" class="col-form-label text-md-left fw-bold">フリガナ</label>
								 	 </div>
								 	 <div class="col-md-8">
										 <div th:if="${#fields.hasErrors('furigana')}" class="text-danger small mb-2" th:errors="*{furigana}"></div>
                                         <input type="text" class="form-control" th:field="*{furigana}" autofocus>
									 </div>
								 </div>
								 
								 <!-- 電話番号 -->
								 <div class="form-group row mb-3">
								 	 <div class="col-md-4">
								 		 <label for="phoneNumber" class="col-form-label text-md-left fw-bold">電話番号</label>
								 	 </div>
								 	 <div class="col-md-8">
										 <div th:if="${#fields.hasErrors('phoneNumber')}" class="text-danger small mb-2" th:errors="*{phoneNumber}"></div>
                                         <input type="text" class="form-control" th:field="*{phoneNumber}" autofocus>
									 </div>
								 </div>
								 
								 <!-- メールアドレス -->
								 <div class="form-group row mb-3">
								 	 <div class="col-md-4">
								 		 <label for="email" class="col-form-label text-md-left fw-bold">メールアドレス</label>
								 	 </div>
								 	 <div class="col-md-8">
										 <div th:if="${#fields.hasErrors('email')}" class="text-danger small mb-2" th:errors="*{email}"></div>
                                         <input type="text" class="form-control" th:field="*{email}" autofocus>
									 </div>
								 </div>
								 
								 <div class="d-flex justify-content-center pt-5 mt-2">
                                     <button type="submit" class="btn text-dark w-50 nagoyameshi-btn">登録</button>
                                 </div>
                                 
							 </form>
						 </div>
					</div>
				 </div>
		 	 </main>
		 	 
		 	 <div th:replace="~{fragment :: footer}"></div>
		 </div>
		 
		 <div th:replace="~{fragment :: scripts}"></div>
	</body>
 </html>