<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
     <head>
         <div th:replace="~{fragment :: meta}"></div>
 
         <div th:replace="~{fragment :: styles}"></div>
         
         <title>店舗登録</title>
     </head>
     
     <body>
		 <div class="nagoyameshi-wrapper">
			 <div th:replace="~{fragment :: header}"></div>
             
		 	 <main>
				  <div class="container pt-4 pb-5 nagoyameshi-container">
					 <div class="row justify-content-center">
						 <div class="col-xl-4 col-lg-5 col-md-8 col-sm-8">
							 <nav class="mb-4" style="--bs-breadcrumb-driver: '>';" aria-label="breadcrumb">
								 <ol class="breadcrumb mb-0">
									 <li class="breadcrumb-item"><a th:href="@{/admin/stores}">店舗一覧</a></li>
									 <li class="breadcrumb-item active" aria-current="page">店舗登録</li>
								 </ol>
							 </nav>
							 
							 <h1 class="mb-4 text-center">店舗登録</h1>
							 
							 <form method="post" th:action="@{/admin/stores/create}" th:object="${storeRegisterForm}" enctype="multipart/form-data">
								<!-- 店舗名入力フォーム -->
								<div class="form-group row mb-3">
									<div class="col-md-4">
										<label for="name" class="col-form-label text-md-left fw-bold">店舗名</label>
									</div>
									<div class="col-md-8">
										<div th:if="${#fields.hasErrors('name')}" class="text-danger small mb-2" th:errors="*{name}"></div>
                                        <input type="text" class="form-control" th:field="*{name}" autofocus>
									</div>
								</div>
								
								<!-- 店舗画像入力フォーム -->
								<div class="form-group row mb-3">
									<div class="col-md-4">
										<label for="imageFile" class="col-form-label text-md-left fw-bold">店舗画像</label>
									</div>
									<div class="col-md-8">
										<div th:if="${#fields.hasErrors('imageFile')}" class="text-danger small mb-2" th:errors="*{imageFile}"></div>
										<input type="file" class="form-control" th:field="*{imageFile}">
									</div>
								</div>
								
								<div class="row" id="imagePreview"></div>
								
								<!-- 店舗説明入力フォーム -->
								<div class="form-group row mb-3">
									<div class="col-md-4">
										<label for="description" class="col-form-label text-md-left fw-bold">店舗説明</label>
									</div>
									<div class="col-md-8">
										<div th:if="${#fields.hasErrors('description')}" class="text-danger small mb-2" th:errors="*{description}"></div>
										<textarea class="form-control" th:field="*{description}" cols="30" rows="5"></textarea>
									</div>
								</div>
								
								<!-- 開店時間　入力フォーム -->
								<div class="form-group row mb-3">
									<label for="startTime" class="col-md-5 col-form-label text-md-left fw-bold">開店時間</label>

									<div class="col-md-7">
										<div th:if="${#fields.hasErrors('startTime')}" class="text-danger small mb-2" th:errors="*{startTime}"></div>
										<select class="form-control form-select" th:field="*{startTime}">
											<option value="" hidden>選択してください</option>
                                               <th:block th:with="startTime=${T(java.time.LocalTime).MIDNIGHT}">
												<th:block th:each="i : ${#numbers.sequence(0, 47)}">
													<th:block th:with="startTime=${startTime.plusMinutes(i * 30).toString()}">
														<option th:value="${startTime}" th:selected="${startTime == storeRegisterForm.startTime}" th:text="${startTime}"></option>
													</th:block>
												</th:block>
                                             </th:block>
										</select>
									</div>
								</div> 
								
								<!-- 閉店時間　入力フォーム -->
								<div class="form-group row mb-3">
									<label for="endTime" class="col-md-5 col-form-label text-md-left fw-bold">開店時間</label>

									<div class="col-md-7">
										<div th:if="${#fields.hasErrors('endTime')}" class="text-danger small mb-2" th:errors="*{endTime}"></div>
										<select class="form-control form-select" th:field="*{endTime}">
											<option value="" hidden>選択してください</option>
                                               <th:block th:with="startTime=${T(java.time.LocalTime).MIDNIGHT}">
												<th:block th:each="i : ${#numbers.sequence(0, 47)}">
													<th:block th:with="endTime=${startTime.plusMinutes(i * 30).toString()}">
														<option th:value="${endTime}" th:selected="${endTime == storeRegisterForm.endTime}" th:text="${endTime}"></option>
													</th:block>
												</th:block>
                                             </th:block>
										</select>
									</div>
								</div>                                               

								
								<!-- 最低価格　入力フォーム -->
								<div class="form-group row mb-3">
                                     <div class="col-md-4">
                                         <label for="priceMin" class="col-form-label text-md-left fw-bold">最低価格</label>
                                     </div>
                                     <div class="col-md-8">
                                         <div th:if="${#fields.hasErrors('priceMin')}" class="text-danger small mb-2" th:errors="*{priceMin}"></div>
                                         <select class="form-control form-select" th:field="*{priceMin}">
											 <option value="" hidden>選択してください</option>
                                             <th:block th:each="i : ${#numbers.sequence(0, 19)}">
                                             	<th:block th:with="priceMin=${500 + (500 * i)}">
													<option th:value="${priceMin}" th:selected="${priceMin == storeRegisterForm.priceMin}" th:text="${#numbers.formatInteger(priceMin, 1, 'COMMA')} + '円'"></option>
                                                </th:block>
                                             </th:block>
                                         </select>
                                     </div>
                                 </div>
								
								<!-- 最高価格　入力フォーム -->
								<div class="form-group row mb-3">
                                     <div class="col-md-4">
                                         <label for="priceMax" class="col-form-label text-md-left fw-bold">最低価格</label>
                                     </div>
                                     <div class="col-md-8">
                                         <div th:if="${#fields.hasErrors('priceMax')}" class="text-danger small mb-2" th:errors="*{priceMax}"></div>
                                         <select class="form-control form-select" th:field="*{priceMax}">
											 <option value="" hidden>選択してください</option>
                                             <th:block th:each="i : ${#numbers.sequence(0, 19)}">
                                             	<th:block th:with="priceMax=${500 + (500 * i)}">
													<option th:value="${priceMax}" th:selected="${priceMax == storeRegisterForm.priceMax}" th:text="${#numbers.formatInteger(priceMax, 1, 'COMMA')} + '円'"></option>
                                                </th:block>
                                             </th:block>
                                         </select>
                                     </div>
                                 </div>
								
								<!-- 住所　入力フォーム -->
								<div class="form-group row mb-3">
                                     <div class="col-md-4">
										 <label for="address" class="col-form-label text-md-left fw-bold">住所</label>
                                     </div>
                                     <div class="col-md-8">
                                         <div th:if="${#fields.hasErrors('address')}" class="text-danger small mb-2" th:errors="*{address}"></div>
                                         <input type="text" class="form-control" th:field="*{address}">
                                     </div>
                                 </div>
								
								<!-- 電話番号　入力フォーム -->
								<div class="form-group row mb-3">
                                     <div class="col-md-4">
                                         <label for="phoneNumber" class="col-form-label text-md-left fw-bold">電話番号</label>
                                     </div>
                                     <div class="col-md-8">
                                         <div th:if="${#fields.hasErrors('phoneNumber')}" class="text-danger small mb-2" th:errors="*{phoneNumber}"></div>
                                         <input type="text" class="form-control" th:field="*{phoneNumber}">
                                     </div>
                                 </div>
								
								<!-- 定休日　入力フォーム -->
								
								
								<!-- 最大利用人数　入力フォーム -->
								<div class="form-group row mb-3">
                                     <div class="col-md-4">
                                         <label for="capacity" class="col-form-label text-md-left fw-bold">最大利用人数（単位：人）</label>
                                     </div>
                                     <div class="col-md-8">
                                         <div th:if="${#fields.hasErrors('capacity')}" class="text-danger small mb-2" th:errors="*{capacity}"></div>
                                         <input type="number" class="form-control" th:field="*{capacity}">
                                     </div>
                                 </div>
                                 
                                 <div class="d-flex justify-content-center pt-5 mt-2">
                                     <button type="submit" class="btn text-dark w-50 nagoyameshi-btn">登録</button>
                                 </div>
                             </form>
                         </div>
                     </div>
                 </div>
		 	 </main>
		 	 
		 	 <div th:replace="~{fragment :: footer}"></div>
		 </div>
		 
		 <div th:replace="~{fragment :: scripts}"></div>
	</body>
 </html>